html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('vivero.png');
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;

}

header h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;

}

.options-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.login-section,
.plants-section {
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-align: left;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}


.login-section p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.login-section a {
    color: #28a745;
    text-decoration: none;
}

.login-section a:hover {
    text-decoration: underline;
}

.plants-section ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.plants-section li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}


.options-section {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 20px;
    margin-right: 20px;


}

.login-section,
.plants-section {
    margin-bottom: 20px;
    margin-right: 20px;
    padding: auto;


}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-align: left;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;


}

button,
.btn {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    display: block;
}

button:hover,
.btn:hover {
    background-color: #218838;


}

.login-section p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;


}

.login-section a {
    color: #28a745;
    text-decoration: none;


}

.login-section a:hover {
    text-decoration: underline;
}

.plants-section ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: auto;
}

.plants-section li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;

}

.error{
	color: red;
}


